body {
  background: #fdfdfd;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
}

.App {
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.App header {
  text-align: center;
}

.App nav {
  margin-top: 0;
  padding-top: 0.67em;
}

.App .content-wrapper {
  background: #fff;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 100%;
}

.App .loading-message {
  text-align: center;
}

.App nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.App nav ul li {
  align-self: flex-start;
  font-size: 1.5em;
  margin-left: 1em;
}

.App nav a {
  text-decoration: none;
  color: black;
  outline: none;
}

.App nav ul a.active {
  border-bottom: 2px solid #000;
  font-weight: 600;
}

.App .loading-message {
  font-size: 2em;
}
