.ItemForm .row {
  display: flex;
  margin-bottom: 1em;
}

.ItemForm input, button {
  border-radius: 2px;
  border: 1px solid #ccc;
}

.ItemForm input {
  padding: 0.75em 1em;
  min-width: 0;
}

.ItemForm input[type=text] {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.ItemForm input[type=tel] {
  max-width: 5em;
  margin-right: 0.5rem;
}
