.shopping-list {
  margin: 1em 0 0 0;
}
.shopping-list ul {
  margin: 0;
  padding: 0;
}
.shopping-list li {
  display: flex;
  align-items: center;
  text-align: left;
}

.shopping-list li button {
  visibility: hidden;
  padding: 0;
  margin-left: 1rem;
  -webkit-appearance: none;
  border: none;
}

.shopping-list li .item-price {
  text-align: right
}

.shopping-list li:hover button {
  visibility: visible;
}

.shopping-list-view label {
  flex-grow: 1;
  margin-left: 0.5em;
}
