.tag-filter {
  cursor: pointer;
}

.tag-filter h2 {
  font-size: 1em;
}

.tag-filter ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tag-filter li {
  width: 50%;
}
